@import url('https://fonts.googleapis.com/css2?family=Geist:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */


:root {
    --primary-color: #fafafa;
    --secondary-color: #f6f6f6;
    --primary-text-color: #1c1c19;
    --secondary-text-color: #676767;
    --accent-color: #eb7a49;
}

body {
    font-family: 'Geist', sans-serif;
    /* background-color: var(--secondary-color); */
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(8) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='%23eeeeeeff'/><path d='M0 0h10v10H0z'  stroke-width='1' stroke='none' fill='%23fafafafa'/><path d='M10 10h10v10H10z'  stroke-width='1' stroke='none' fill='%23fafafafa'/></pattern></defs><rect width='800%' height='800%' transform='translate(-64,0)' fill='url(%23a)'/></svg>");
    color: var(--primary-text-color);
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

p {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: var(--secondary-text-color);
}

.bentoGrid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--secondary-color);
    width: 100%;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.bentoBox {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    min-height: 250px;
    padding: 1.5rem;
    background-color: var(--primary-color);
    filter: drop-shadow(0 0.10rem 0.5rem color-mix(in srgb, var(--secondary-text-color) 10%, transparent));
    transition: 0.3s ease;
}

.bentoBox:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0.2rem 0.7rem color-mix(in srgb, var(--primary-text-color) 15%, transparent));
}

.span-3 { grid-column: span 3; }
.span-4 { grid-column: span 4; }
.span-5 { grid-column: span 5; }
.span-6 { grid-column: span 6; }
.span-7 { grid-column: span 7; }
.span-8 { grid-column: span 8; }
.span-12 { grid-column: span 12; }

a {
    color: var(--accent-color);
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    filter: brightness(1.15);
    text-decoration: underline;
}

.bold {
    font-weight: 600;
    color: var(--accent-color);
}

.standardBold {
    font-weight: 500;
    color: var(--primary-text-color);
}

.commitTicker {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 1rem;
    overflow: hidden;
    backdrop-filter: blur(1.5rem);
}

.commit {
    color: var(--secondary-text-color);
    font-weight: 500;
    position: relative;
    font-size: 2rem;
    white-space: nowrap;
    margin-right: .5rem;
}
